.archive {
    margin: 0;

    &__inner {
        margin: 0;
    }

    &__item {
        margin: 0;

        &Img {
            margin: 0;
        }

        &Body {

        }

        &Title {

        }

        &Meta {
            .data {

            }
            .category {

            }
        }

        &Text {
            
        }
    }

}